* {
  box-sizing: border-box;
  margin: 0;
  font-family: Pretendard;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: Pretendard;
}
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  background-color: #fff;
  padding: 29px 0;
  transition: top 0.3s;
  z-index: 300;
}
header .header-inner {
  width: 1280px;
  margin: 0 auto;
}

header.fixed {
  position: fixed; /* 고정 위치 */
  top: 0; /* 상단에 고정 */
  width: 100%; /* 전체 너비 */
  z-index: 100;
}
#nav ul li a {
  cursor: pointer;
}
#nav,
#nav ul,
#nav ul li,
#nav ul li a,
#nav #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nav #head-mobile {
  display: none;
}
#nav {
  display: flex;
  justify-content: space-between;
}

#nav .logo {
  width: 160px;
  display: inline-block;
}
#nav .logo a {
  display: inline-block;
}
#nav > ul > li {
  float: left;
  margin-right: 50px;
}
#nav > ul > li > a {
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #4b5966;
  font-weight: 700;
}
#nav > ul > li:hover > a,
#nav ul li.active a {
  color: #fff;
}
#nav > ul > li:hover,
#nav ul li.active:hover,
#nav ul li.active,
#nav ul li.has-sub.active:hover {
  background: #303030;
  border-radius: 3px;
  -webkit-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
#nav > ul > li.has-sub > a {
  padding-right: 30px;
}

#nav > ul > li.has-sub > a:before {
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 7px;
  height: 4px;
  background: url(../images/icon_arrow_color.svg);
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#nav > ul > li.has-sub:hover > a:before {
  top: 14px;
  background: url(../images/icon_arrow_hover.svg);
}
#nav ul ul {
  position: absolute;
  left: -9999px;
}
#nav ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background: #333;
  transition: all 0.25s ease;
}

#nav li:hover > ul {
  left: auto;
}
#nav li:hover > ul > li {
  min-height: 35px;
}
#nav li:hover > ul > li.etc {
  min-height: 50px;
}
#nav ul ul ul {
  margin-left: 100%;
  top: 0;
}
#nav ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 14px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
  display: inline-block;
}
#nav ul ul li:last-child > a,
#nav ul ul li.last-item > a {
  border-bottom: 0;
}
#nav ul ul li:hover > a,
#nav ul ul li a:hover {
  color: #fff;
}

#nav ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#nav ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#nav ul ul li.has-sub:hover,
#nav ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}
#nav ul ul ul li.active a {
  border-left: 1px solid #333;
}
#nav > ul > li.has-sub > ul > li.active > a,
#nav > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}

.para-title {
  color: #1f2e3d;
  text-align: center;
  font-family: Pretendard;
  font-style: normal;
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 70px;
}

.para-desc {
  color: #86868b;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-wrap {
  text-align: center;
}
.btn {
  display: flex;
  background: linear-gradient(
    93.67deg,
    #001aff 7.83%,
    #3f80ff 49.5%,
    #6b9eff 97.79%
  );
  border: none;
  margin: 0 auto;
  padding: 16px 32px 16px 32px;
  border-radius: 30px;
  gap: 20px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(
    93.67deg,
    #6b9eff 7.83%,
    #3f80ff 49.5%,
    #001aff 97.79%
  );
}

#btnFree.floating {
  position: fixed; /* 고정 위치 */
  bottom: 20px; /* 화면 하단에서의 위치 */
  left: 50%; /* 화면 우측에서의 위치 */
  z-index: 100; /* 다른 요소 위에 표시 */
  transform: translateX(-50%) !important;
  transition: bottom 0.3s;
}
#btnFree.hidden {
  display: none; /* 숨김 처리 */
}
.section {
  text-align: center;
  padding: 140px 0;
}
.section .section-inner {
  text-align: center;
}

.content01 .para-title {
  margin-bottom: 20px;
}
.content01 .para-desc {
  margin-bottom: 52px;
}
.content01 .btn-wrap {
  margin-bottom: 65px;
}

.content02 .para-desc {
  color: #fff;
}
.content02 .img01 {
  margin-top: 30px;
}
.content02 .img02 {
  position: absolute;
  right: 69px;
  top: -67px;
}
.content02 .img03 {
  position: absolute;
  left: 279px;
  bottom: -104px;
}
.content03 .para-desc {
  color: #6d82a3;
}
.content03 .para-desc + .para-desc {
  margin-top: 15px;
}
.content03 .img01 {
  margin-top: 30px;
}
.content03 .img02 {
  position: absolute;
  right: 0;
  top: 120px;
}
.content03 .img02 > div {
  margin-bottom: -40px;
}

.content04 .img01 {
  margin-top: 30px;
}
.content04 .img02 {
  position: absolute;
  right: 69px;
  top: -67px;
}
.content04 .img03 {
  position: absolute;
  right: 248px;
  bottom: -160px;
}
.content05 .box {
  height: 289px;
  color: #71836e;
}
.content05 .box .para-desc {
  color: #71836e;
}
.content05 .box-wrap {
  position: relative;
  width: 1010px;
  height: 603px;
  margin: 0 auto;
}
.content05 .box-wrap .img02 {
  position: absolute;
  left: 52px;
  top: 174px;
}
.content05 .box-wrap .img03 {
  position: absolute;
  left: 262px;
  top: 83px;
}
.content05 .box-wrap .img04 {
  position: absolute;
  left: 432px;
  bottom: 53px;
}
.content05 .box + .box {
  margin-top: 25px;
}
.content05 .box + .box .para-desc {
  color: #fff;
}
.content05 .img01 {
  position: absolute;
  right: 14px;
  top: 9px;
}

.box {
  width: 1010px;
  height: 419px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  text-align: left;
  padding: 68px 0 0 52px;
}
.box .para-desc {
  line-height: 30px;
}
.light-gray {
  background-color: #f5f5f5;
}

.soft-sky-blue {
  background-color: #dbe4f2;
}

.dusty-blue {
  background-color: #babbcd;
}

.light-mint {
  background-color: #e3ede1;
}

.slate-blue {
  background-color: #9e9fb3;
}

.content14 {
  padding: 249px 0 243px 0;
}
.content14 .section-inner .para-title {
  margin-bottom: 28px;
}
.content14 .section-inner .para-desc {
  font-size: 20px;
  font-weight: 600;
  color: #86868b;
  margin-bottom: 118px;
}


/******** 신규도입 프로모션 ********/
.trial-bg {width: 100%; background: linear-gradient(180deg, #F1F3FA 0%, white 100%)}
.trial .title-sub {text-align: center; color: #86868B; font-size: 20px; font-weight: 500;}
.trial .title-main {margin-top: 20px; text-align: center; color: #1F2E3D; font-size: 52px; font-weight: 700; word-wrap: break-word}
.trial .btn-wrap {margin-top: 80px; display: flex; justify-content: center; gap: 70px; transition: all 0.3s;}
.trial .btn-wrap .btn-big {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 30px; width: 500px; height: 300px; text-align: center; background: white; box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05); border-radius: 20px; transition: 0.3s ease-in;}
.trial .btn-wrap .btn-left {position: relative;}
.trial .btn-wrap .btn-left::after {content: '단, 무료 이용 기간 내 10인 초과 시 유료 전환'; display: block; position: absolute; left: 0; right: 0; bottom: -36px; margin: 0 auto; color: #A1A1A1; font-size: 16px; font-weight: 500; word-wrap: break-word; pointer-events: none;}
.trial .btn-wrap .figure-wrap {position: relative}
.trial .btn-wrap .figure-wrap .figure {padding: 5px 40px; background: #1B1B1B; border-radius: 999px; display: inline-block;}
.trial .btn-wrap .figure-wrap .figure-txt {text-align: center; color: white; font-size: 20px; font-weight: 600; line-height: 36px;}
.trial .btn-wrap .figure-wrap .triangle {width: 0; height: 0; border-top: 10px solid black; border-right: 10px solid transparent; left: 0; right: 0; top: 46px; margin: 0 auto; position: absolute; }
.trial .btn-wrap .main-txt {color: black; font-size: 48px; font-weight: 700; line-height: 50px;}
.trial .btn-wrap .btn-big:hover {background: linear-gradient(121deg, #3EA3FF 0%, #3E58FF 100%); transition: all 0.3s ease-in;}
.trial .btn-wrap .btn-big:hover .figure {background: #fff;}
.trial .btn-wrap .btn-big:hover .triangle {border-top: 10px solid #fff;}
.trial .btn-wrap .btn-big:hover .figure-txt {color: #0086FF;}
.trial .btn-wrap .btn-big:hover .main-txt {color: #fff; z-index: 1;}
.trial .ani__btn {margin-top: 122px;}
.trial .btn-wrap .btn-big {position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 30px; width: 500px; height: 300px; text-align: center; box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05); border-radius: 20px;}
.trial .btn-wrap .btn-big::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: linear-gradient(121deg, #3EA3FF 0%, #3E58FF 100%); transition: opacity 0.2s ease-in; border-radius: inherit;}
.trial .btn-wrap .btn-big:hover::before {opacity: 1;}

/******** 요금제 안내 ********/
.pricing .tab-menu ul li.active {background-color: #fff; color: #1F2E3D;}
.pricing .tab-content {display: none;}
.pricing .tab-content.active {display: flex;}
.pricing .table-format {display: flex;}
.pricing .table-format .title-mo {display: none;}
.pricing .pricing-type .table-mo {display: none;}
.pricing .title-main {font-size: 52px; font-weight: 700; color: #1F2E3D;}
.pricing .tab-menu {margin: 40px auto 0;  padding: 8px 10px; display: inline-block; position: relative; border-radius: 100px; background-color: #1F2E3D;}
.pricing .tab-menu ul {display: flex;}
.pricing .tab-menu ul li {padding: 14px 40px; border-radius: 100px; font-size: 24px; font-weight: 500; color: #fff;}
.pricing .tab-menu .add-desc {position: absolute; padding: 6px 15px; top: 21px; right: -125px; text-align: center; font-size: 16px; font-weight: 400; border-radius: 50px; background-color: #188AFD; color: #fff;}
.pricing .tab-inner {margin-top: 113px; display: flex; justify-content: center;}
.pricing .item-category {text-align: left; font-size: 18px; font-weight: 400; color: #1F2E3D;}
.pricing .item-category .total {font-weight: 700; line-height: 25px;}
.pricing .item-category .total span {font-size: 16px; font-weight: 400; letter-spacing: 0; color: #8F8F8F;}
.pricing .item-category thead {height: 194px;}
.pricing .item-category tbody tr:not(.base-price) {border-left: 1px solid #ECECEC; border-right: 1px solid #ECECEC;}
.pricing .item-category tr {padding-left: 30px; display: flex; align-items: center; width: 257px; height: 61px;}
.pricing .item-category .table-1 tr {border-bottom: 1px solid #ECECEC;}
.pricing .item-category .base-price {display: flex; height: 98px; border-radius: 10px 0 0 0; border: 1px solid #ECECEC;}
.pricing .item-category .total-price {height: 98px; background-color: #F3F3F3;}
.pricing .tr-last {border-bottom: 1px solid #ECECEC;}
.pricing .pricing-type {width: 256px;}
.pricing .pricing-type-1 .pricing-type-title {border-radius: 10px 0 0 0;}
.pricing .pricing-type-4 .pricing-type-title {border-radius: 0 10px 0 0;}
.pricing .pricing-type .pricing-type-title:not(.pricing-type-4) {border-right: 1px solid #9E9E9E;}
.pricing .pricing-type .pricing-type-title {padding: 30px 5px; display: flex; flex-direction: column; justify-content: space-between; height: 194px; text-align: center; background-color: #1F2E3D;}
.pricing .pricing-type .pricing-type-title .type-title {font-size: 30px; font-weight: 500; color: #fff;}
.pricing .pricing-type .pricing-type-title .type-desc {margin-top: 20px; font-size: 18px; font-weight: 300; color: #D3D3D3;}
.pricing .pricing-type .pricing-type-title a {margin: 20px auto 0; padding: 10px 30px; display: flex; width: 150px; height: 37px; justify-content: space-between; border-radius: 100px; background-color: #fff;}
.pricing .pricing-type table tbody tr {padding: 20px 5px; display: flex; justify-content: center; align-items: center; width: 256px; height: 61px; text-align: center; font-size: 18px; font-weight: 500; letter-spacing: 0; color: #1F2E3D; border-right: 1px solid #ECECEC;}
.pricing .pricing-type table .table-top tr {border-bottom: 1px solid #ECECEC;}
.pricing .pricing-type .total-price {height: 98px; font-weight: 600; background-color: #F3F3F3;}
.pricing .pricing-type .total-price-row {display: flex; justify-content: center; align-items: center; gap: 5px;}
.pricing .pricing-type .total-price-row-2 {margin-top: 12px;}
.pricing .pricing-type .total-price-row p:nth-child(1) {font-size: 16px; font-weight: 500; color: #7B7B7B;}
.pricing .pricing-type .total-price span {font-size: 16px; font-weight: 500; color: #7B7B7B; text-decoration: line-through;}
.pricing .pricing-type .base-price {display: flex; height: 98px; line-height: 30px;}
.pricing .pricing-type .color-green {color: #5CAB56;}
.pricing .pricing-type .color-purple {color: #9666C6;}
.pricing .extra-text {margin-bottom: 180px; display: flex; justify-content: center;}
.pricing .extra-text p {margin: 20px 0 0 30px; width: 1280px; text-align: left; font-size: 18px; font-weight: 400; line-height: 32px; color: #666666;}

.pricing .pricing-detail {position: relative; background-color: #D5E6FF30;}
.pricing .tab-menu-2 {position: sticky; top: 92px;}
.pricing .tab-menu-2 ul {display: flex; justify-content: center;}
.pricing .tab-menu-2 ul .tablinks-2 {display: flex; justify-content: center; align-items: center; width: 320px; height: 70px; background-color: #fff; border-radius: 10px;}
.pricing .tab-menu-2 ul .tablinks-2 a {font-size: 24px; font-weight: 600; color: #1F2E3D;}
.pricing .tab-menu-2 ul .tablinks-2.active {background-color: #1F2E3D;}
.pricing .tab-menu-2 ul .tablinks-2.active a {color: #fff;}
.pricing .tab-content-2 {display: none; padding: 200px 60px 140px;}
.pricing .tab-content-2.active {display: block;}
.pricing .title-wrap .title-sub {font-size: 20px; font-weight: 500; color: #86868B;}
.pricing .title-wrap .title-main {margin-top: 40px;}
.pricing .title-wrap .title-desc {margin-top: 30px; font-size: 20px; font-weight: 500; line-height: 30px; color: #86868B;}
.pricing .content-box-wrap {margin: 100px auto 0; max-width: 1280px;}
.pricing .content-box-wrap .content-box-upper {margin-bottom: 40px; display: flex; justify-content: space-between; gap: 40px;}
.pricing .content-box-wrap .content-box-upper .content-box {padding: 50px;}
.pricing .content-box {width: 100%; height: 409px; text-align: left; background-color: #fff; border-radius: 20px; box-shadow: 0px 2px 30px #0000000d;}
.pricing .content-box .box-heading {margin-top: 20px; font-size: 36px; font-weight: 700; color: #1F2E3D;}
.pricing .content-box .box-sub-wrap {margin-top: 30px;}
.pricing .content-box .box-sub {display: flex; align-items: center; font-size: 20px; font-weight: 500; gap: 20px;}
.pricing .content-box .box-sub:not(:nth-child(1)) {margin-top: 15px;}
.pricing .content-box-wrap .content-box-under .content-box {display: flex; justify-content: space-between;}
.pricing .content-box-wrap .content-box-under .content-box .box-left {padding: 124px 0 0 53px;}
.pricing .content-box-wrap .content-box-under .content-box .box-right {margin-right: 80px; padding: 95px 0 0 0; width: 580px;}
.pricing .content-box-wrap .content-box-under .box-heading-sub {font-size: 20px; font-weight: 500; color: #1F2E3D;}
.pricing .content-box-wrap .content-box-under .text-line-1 {display: flex; justify-content: center; align-items: center; width: 100%; height: 20px; border-radius: 20px; background-color: #3374f3; box-shadow: 0px 2px 20px #0000000d;}
.pricing .content-box-wrap .content-box-under .text-line-1 p {padding: 5px 20px; width: 154px; text-align: center; font-size: 18px; font-weight: 500; border-radius: 20px; background-color: #fff; color: #3375F4;}
.pricing .content-box-wrap .content-box-under .text-line-2 {margin-top: 20px; display: flex; justify-content: center; align-items: center; width: 50%; height: 20px; border-radius: 20px; background-color: #45B1FF; box-shadow: 0px 2px 20px #0000000d;}
.pricing .content-box-wrap .content-box-under .text-line-2 p {padding: 5px 20px; width: 154px; text-align: center; font-size: 18px; font-weight: 500; border-radius: 20px; background-color: #fff; color: #45B1FF;}
.pricing .content-box-wrap .content-box-under .icon-keyword-wrap {margin-top: 14px; display: flex; justify-content: space-between;}
.pricing .content-box-wrap .content-box-under .icon-keyword {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 11px;}
.pricing .content-box-wrap .content-box-under .icon-keyword p {font-size: 20px; font-weight: 500;}
.pricing .content-box-wrap .content-box-under .icon-wrap {display: flex; justify-content: center; align-items: center; width: 100px; height: 100px; border-radius: 10px; box-shadow: 0px 2px 20px #0000000d;}
.pricing #startup .content-box-upper .content-box {height: 369px;}
.pricing #startup .content-box-under .icon-wrap-2 {width: 272px;}

.pricing .add-service {padding-top: 130px;}
.pricing .add-service .content-box {padding: 50px; display: flex; justify-content: space-between; height: unset; gap: 50px;}
.pricing .add-service .content-box:not(:nth-child(1)) {margin-top: 40px;}
.pricing .add-service .content-box .box-heading {margin-top: 0;}
.pricing .add-service .content-box .box-desc {margin-top: 30px; font-size: 20px; font-weight: 400; line-height: 34px;}
.pricing .add-service .content-box .content-box-right {position: relative; width: 408px;}
.pricing .add-service .content-box .sub-desc {position: absolute; left: 215px; top: 183px; font-size: 14px; line-height: 24px; color: #7E7E7E;}
.pricing .add-service .content-box-3 .sub-desc {top: 217px;}
.pricing .add-service .content-box .content-box-right-1 > img {max-width: unset;}
.pricing .add-service .content-box .content-box-right .img-box {display: flex; justify-content: center; align-items: center; width: 200px; height: 200px; background-color: #fff; border-radius: 10px; box-shadow: 0px 2px 30px #00000017;}
.pricing .add-service .content-box .content-box-right .img-box-wrap {display: flex;}
.pricing .add-service .content-box .content-box-right .img-box-wrap > .img-box:nth-child(1) {margin-top: 20px;}
.pricing .add-service .content-box .content-box-right .img-box-wrap > .img-box:nth-child(2) {margin: -10px 0 0 -20px;}





@media (max-width: 1440px) {
  .pricing .item-category tr {width: 220px;}  
}
@media (max-width: 1360px) {
  .pricing .tab-inner {padding: 0 60px;}
  .pricing .table-format .title-mo {display: block;}
  .pricing .pricing-type .table-mo {display: block; width: 100%; border-radius: 0 0 10px 10px; border: 1px solid #ECECEC; border-top: 0;} 
  .pricing .item-category {display: none;}
  .pricing .pricing-type .type-title-wrap {margin-top: 7px;}
  .pricing .pricing-type .pricing-type-title {flex-direction: row; justify-content: center; gap: 50px; height: 140px; border-radius: 10px 10px 0 0;}
  .pricing .pricing-type .pricing-type-title a {margin: 20px 0;}
  .pricing .pricing-type .pricing-type-title .type-desc {margin-top: 10px;}
  .pricing .tab-content {width: 100%;}
  .pricing .table-format {display: flex; flex-direction: column; gap: 30px; width: 100%;}
  .pricing .pricing-type {width: 100%;}
  .pricing .pricing-type table {width: 100%; border-left: 1px solid #ECECEC;}
  .pricing .pricing-type table tbody tr {width: 100%; padding: 0;}
  .pricing .pricing-type table tbody tr td {width: 50%; padding: 20px 5px;}
  .pricing .table-format .title-mo {border-right: 1px solid #ECECEC;}
  .pricing .pricing-type .base-price {height: 100%;}
  .pricing .pricing-type .table-mo tbody {width: 100%; display: grid; justify-content: center; align-items: center;}
  .pricing .pricing-type .table-mo tr {text-align: center; height: 96px; border-right: 0; display: table-row-group;}
  .pricing .pricing-type .table-mo tr td {padding: 0;}
  .pricing .pricing-type .table-mo tr td .more-btn {margin-top: 30px; display: flex; justify-content: center; padding: 12px 0; gap: 10px; width: 272px; height: 40px; font-size: 15px; font-weight: 400; background-color: #1F2E3D; color: #fff; border-radius: 100px;}
  .pricing .extra-text p {padding-left: 60px;}

  .pricing .tab-menu-2 {padding: 0 60px;}
  .pricing .tab-menu-2 ul .tablinks-2 a {font-size: 20px;}
}
@media (max-width: 1279px) {
  .pricing .content-box-wrap .content-box-upper {flex-direction: column;}
  .pricing .content-box-wrap .content-box-under .content-box {flex-direction: column;}
  .pricing .content-box-wrap .content-box-under .content-box-3 {height: unset;}
  .pricing .content-box-wrap .content-box-under .content-box .box-right {padding: 70px 0 80px 50px;}
}



footer {
  background: #000;
  padding: 69px 0 45px 0;
}
footer .section-inner {
  width: 1280px;
  margin: auto;
}
footer .section-inner nav {
  padding-bottom: 45px;
  padding-left: 40px;
  border-bottom: solid 1px #242424;
}
footer .section-inner nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
footer .section-inner nav > ul {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}
footer .section-inner nav > ul > li {
  display: flex;
  flex-direction: column;
}
footer .section-inner nav > ul > li > a {
  color: #fff;
  font-size: 15px;
  margin-bottom: 25px;
}
footer .section-inner nav > ul > li > ul {
  margin: 0;
  padding: 0;
}
footer .section-inner nav > ul > li > ul > li > a {
  color: #86868b;
  font-size: 13px;
  font-weight: 600;
  line-height: 26px;
}
footer .footer-info {
  padding-top: 45px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}
footer .footer-info .company-txt {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 23px;
}
footer .footer-info .company-info p {
  color: #86868b;
  font-weight: 600;
  line-height: 26px;
  font-size: 14px;
}
footer .footer-info .company-info p a {
  color: #86868b;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
footer .policy-wrap {
}
footer .policy-wrap .policy {
  margin-bottom: 23px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
footer .policy-wrap a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

footer .sns-wrap {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
footer .sns-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

footer .footer-certification {
  display: flex;
  gap: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 40px;
}
footer .footer-certification .item {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
}
footer .footer-certification .item .txt {
  color: #fff;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  opacity: 0.5;
}
footer .footer-copyright {
  color: #fff;

  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding-left: 40px;
}

.img-wrap {
  background: #fff;
  margin-bottom: 0;
  border: solid 8px #000;
  border-radius: 20px;
  width: 788px;
  height: 496px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
.img-wrap img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}













